body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: navy;
    color: white;
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: space-around;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 10px;
    background: black;
    color: red;
    padding: 5px 20px;
}

#home-score1-btn, #home-score2-btn, #home-score3-btn, #guest-score1-btn, #guest-score2-btn, #guest-score3-btn {
    font-family: inherit;
    color: grey;
    border: 2px solid grey;
    border-radius: 10%;
    background: navy;
}